<div class="container__content container__content--settings">
	<label>Low temp</label>
	<input type="number" name="lowTemp" value="<%= lowTemp %>" />

	<label>High temp</label>
	<input type="number" name="highTemp" value="<%= highTemp %>" />

	<label>BT Address</label>
	<input type="number" name="btMacAddress" value="<%= btMacAddress %>" />
</div>