.label--aligned {
	display: inline-block;
	text-align: right;
	margin: 0 15px 0 0;
	vertical-align: middle;
	width: 150px;
}

.input--aligned {
	display: inline-block;
	vertical-align: middle;
}

.field-control-group {
	margin-bottom: 10px;
}
