.nav-icon {
	background-color: $nav-icon-background;
	color: $nav-icon-color;
	height: $nav-icon-height;
	left: 0px;
	position: fixed;
	text-align: center;
	top: 0px;
	width: $nav-icon-width;
}

%nav-icon-image {
	background-color: transparent;
	background-size: cover;
	display: block;
	height: 100%;
	width: 100%;
}

.nav-icon__settings {
	@extend %nav-icon-image;
	background-image: url(../images/icon-settings.png);
}

.nav-icon__back {
	@extend %nav-icon-image;
	background-image: url(../images/icon-back.png);
}