.status-message {
	color: $status-message;
	font-family: $yanone;
	font-size: $status-message-font-size;
	margin: 10px;
	text-align: center;
	white-space: normal;
}

.status-image {
	background-color: transparent;
	background-size: cover;
	height: 100px;
	margin: 50px auto 0;
	width: 100px;
}

.status-image--ok {
	background-image: url(../images/icon-ok.png);
}

.status-image--cold {
	background-image: url(../images/icon-cold.png);
}

.status-image--hot {
	background-image: url(../images/icon-hot.png);
}

.status-image--oops {
	background-image: url(../images/icon-oops.png);
}

.status-image--not-setup {
	background-image: url(../images/icon-not-setup.png);
}

.status-image--no-bluetooth {
	background-image: url(../images/icon-no-bluetooth.png);
}

.status-image--lost-connection {
	background-image: url(../images/icon-lost-connection.png);
}

.status-image--weak-connection {
	background-image: url(../images/icon-weak-connection.png);
}
