/* Base colors */
$base-text-color: #fff;

/* Page Backgrounds */
$status-cold-background: #0798DB;
$status-warm-background: #EE2961;
$status-ok-background: #59B390;
$status-loading-background: #C6B299;
$status-not-enabled-background: #444;
$status-not-setup-background: #4C8EA1;
$settings-background: #C6B299;

/* Fonts */
$sans-serif: sans-serif;
$yanone: Yanone;
$quicksand: Quicksand;

/* Nav icon */
$nav-icon-background: #444;
$nav-icon-color: #fff;
$nav-icon-height: 40px;
$nav-icon-width: 40px;

/* Status page */
$staus-page-title: #444;
$status-message: #fff;
$status-message-font-size: 40px;
