<div class="container__content container__content--not-connected">
	<div class="status-holder">
    <h1 class="status-message">You shouldn't see this... something went wrong</h1>
    <div class="status-image status-image--oops" id="status-image"></div>
    <h3 class="status-message">State: <%= message %></h3>
  </div>
</div>