<div class="container__content container__content--status--hot">
	<p class="page-title">Current Lockie Status</p>
	<div class="status-holder">
    <h1 class="status-message" id="status-message">It's getting hot in hurrr...</h1>
    <div class="status-image status-image--hot" id="status-image"></div>
    <h3 class="status-message" id="current-temp">It's currently <%= currentTemp %> &#186;C</h3>
  </div>
</div>
