<div class="container__content container__content--lost-connection">
	<div class="status-holder">
    <h1 class="status-message">Lost connection</h1>
    <div class="status-image status-image--lost-connection" id="status-image"></div>
  </div>
</div>