<div class="container__content container__content--not-connected">
	<div class="status-holder">
    <h1 class="status-message">Bluetooth not connected</h1>
    <div class="status-image status-image--not-connected" id="status-image"></div>
  </div>
</div>