<div class="container__content container__content--not-enabled">
	<div class="status-holder">
    <h1 class="status-message">Bluetooth not enabled</h1>
    <div class="status-image status-image--not-enabled" id="status-image"></div>
  </div>
</div>
