<div class="container__content container__content--not-setup">
	<div class="status-holder">
    <h1 class="status-message">You need to complete all the settings options</h1>
    <div class="status-image status-image--not-setup" id="status-image"></div>
  </div>
</div>