<div class="container__content container__content--weak-connection">
	<div class="status-holder">
    <h1 class="status-message">Weak connection...</h1>
    <div class="status-image status-image--weak-connection" id="status-image"></div>
    <h3 class="status-message" id="current-temp">We haven't received any temp readings for a while. You might be to far away from Lockie's room.</h3>
  </div>
</div>
